<!-- Tags -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Tags</h4>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            <li><a href="#">Aries</a></li>
            <li><a href="#">Fire</a></li>
            <li><a href="#">Mars</a></li>
            <li><a href="#">Taurus</a></li>
            <li><a href="#">Earth</a></li>
            <li><a href="#">Moon</a></li>
            <li><a href="#">Gemini</a></li>
            <li><a href="#">Air</a></li>
            <li><a href="#">Mercury</a></li>
            <li><a href="#">Cancer</a></li>
        </ul>
    </div>
</div>